// COLORS
$color_green:#03A6A6;
$color_green_light:#A0D9D9;
$color_green_dark: #025959;
$color_orange:#F25F29;
$color_red:#D92B2B;
$color_white: #fff;
$color_black: #000;


//BREAKPOINTS
$bp_xxlarge: 92.5em ;//1480px
$bp-largest: 75em; // 1200px
$bp-large: 64em; // 1024px
$bp-med: 48em; //768px
$bp-small: 40em; //640px
$bp-smaller:  26.5625em; //425px
$bp-xsmall: 23.4375em;//375px
$bp-xxsmall: 20em//320px

